<!doctype html>
<html>
    <head>
            <style>
                    .error{
                        color:red;
                    }
                </style>
        <title>
           

        </title>
    </head>
    <body>
            <nav>
                    <a href="/">Main Page</a> |
                    <a href="/blog">All Blogs Page</a> |
                    <a href="/newpost">Add Blog Entry</a> |

                    <a href="/login"> Login</a>
                    <a href="/logout"></style>Logout</a>

                    </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category, message in messages %}
                  <li  class="{{category}}"> {{message}}
                    </li>
                {% endfor %}

        {% endwith %}
            </ul>
        {% block content%}


        {% endblock %}


    </body>
</html>